.gitignore
Salon/.vs

BusinessLogic/bin
BusinessLogic/obj/Debug

DataAccess/bin
DataAccess/obj/Debug

Entities/bin
Entities/obj/Debug

Mappers/bin
Mappers/obj/Debug

Models/bin
Models/obj/Debug

Salon/bin
Salon/obj/Debug

SequenceDiagram.png
SequenceDiagramXML.drawio
UML.png
UseCase.png
UseCaseXML.drawio
