.gitignore
ComputerSalon/.vs

ApplicationLogic/bin
ApplicationLogic/obj/Debug

ComputerSalon/bin
ComputerSalon/obj/Debug

ComputerSalonCLI/bin
ComputerSalonCLI/obj/Debug

Data/bin
Data/obj/Debug

DataAccess/bin
DataAccess/obj/Debug

Entities/bin
Entities/obj/Debug

Models/bin
Models/obj/Debug

SequenceDiagram.png
SequenceDiagramXML.drawio
UML.png
UseCase.png
UseCaseXML.drawio
