.gitignore
ComputerSalon/.vs

ComputerSalon/bin
ComputerSalon/obj/Debug

DataAccessLayer/bin
DataAccessLayer/obj/Debug

BusinessLogicLayer/bin
BusinessLogicLayer/obj/Debug

BusinessLogicLayerData/bin
BusinessLogicLayerData/obj/Debug

ComputerSalonModels/bin
ComputerSalonModels/obj/Debug

DataAccessLayerEntities/bin
DataAccessLayerEntities/obj/Debug

Mappers/bin
Mappers/obj/Debug

SequenceDiagram.png
SequenceDiagramXML.drawio
UML.png
UseCase.png
UseCaseXML.drawio
